
.sidebar{
    scrollbar-width: 5px;
    scrollbar-color: #d55f5a #f1f1f1 ;
}

.sidebar::-webkit-scrollbar{ 
width: 7px;
height: 7px;
}

.sidebar::-webkit-scrollbar-track{
background-color: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb{
    background-color: #d55f5a;
    border-radius: 50px;
}

